
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import "nullstyle.scss";
a {
    color: #4d4959;
}
.wrapper {
    
    max-width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main {
    flex: 1 1 auto;
    
    
}
// header
.header {
    max-height: 800px;
    color: #4d4959;
    text-transform: uppercase;
    letter-spacing: 2.6px;
    font-size: 13px;
    font-weight: 700;
    font-family: 'Lato';
    height: 800px;
    width: 100%;
    
    
    background: url("../img/Layer_7.png");
    background-position: center ;
    background-size: 100%;
    background-repeat: no-repeat;
    @media (max-width: 992px){
        height: 400px;
        margin: 0;
      
    }
}
.header__contrainer {
    height: 85px;
    max-width: 38.6%;
    margin: 0 auto;
    padding: 35px 0;
}
.header__row {
    color: #4d4959;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 -20px;
}
.header__left__content {
    a {
        display: inline-block;
        
    }
    span {
        margin: 0 40px;
    }
   

}
.header__logo {
    background-image: url("../img/Logo.png");
    width: 94px;
    height: 85px;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
   
   
}
.header__right__content {
    a {
        display: inline-block;
       
    }
    span {
        margin: 0 40px;
    }
    
}
//header end
// footer 
.footer {
    height: 250px;
    background-color: #f7f7f7;
    font-family: "Lato";

}
.footer__container {
    max-width: 1101px;
    margin: 0 auto;
}
.footer__row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10%;
    
}
.footer__address {
}
.footer__icon__social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 135px;
    img {
        display: inline-block;
        width: 35px;
        height: 35px;
        
    }
    
}
.top-address {
    font-size: 16px;
    font-weight: 700;
    
}
.middle-address {
    font-style: italic;
}
.bottom-address {
    font-size: 14px;
    font-style: italic;
    line-height: 18px;
}

.footer__logo {
    font-family: "Lato";
    font-size: 14px;
    font-style: italic;
    line-height: 17.87px;
    display: flex;
    align-items: center;
    
    img {
        display: inline-block;
        width: 55px;
        height: 36px;
        margin: 0 0 0 9px;
    }

}
// footer end
// header section
.header__section {

}