
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import "nullstyle.scss";
a {
    color: #4d4959;
}
.wrapper {
    
    max-width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main {
    flex: 1 1 auto;
    font-family: "Lato";
    
    
}
// header
.header {
    max-height: 800px;
    color: #4d4959;
    text-transform: uppercase;
    letter-spacing: 2.6px;
    font-size: 13px;
    font-weight: 700;
    font-family: 'Lato';
    height: 900px;
    width: 100%;
    
    
    background: url("../img/Layer_7.png");
   
  
    background-repeat: no-repeat;
    background-size:  100% 100%;
    background-position: center ;

    @media (max-width: 768px){
        max-height: 450px;
        margin: 0;
        
    }
    @media (max-width: 1200px){
        height: 720px;
        margin: 0;
        
    }
    @media (max-width: 600px){
        max-height: 360px;
        margin: 0;
        
    }
    
}
.header__contrainer {
    height: 85px;
    width: 80%;
    margin: 0 auto;
    padding: 35px 0;
    @media (max-width: 600px){
        max-width: 100%;
        
        
    }

    @media (max-width: 768px) {
        max-width: 90%;
        padding: 10px 0;
    }
    @media (max-width: 1500px) {
        max-width: 80%;
        padding: 35px 0;
    }
}
.header__row {
    color: #4d4959;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 -20px;
}
.header__left__content {
    a {
        display: inline-block;
       
    }
    span {
        margin: 0 40px;
    }
    @media (max-width: 600px){
        span {
            
            
        }
        a {
            display: inline-block;
            font-size: 10px;
        }
       
    @media (max-width: 768px) {
        span {
            margin: 0 5px;
            
        }
        font-size: 12px;
    }
    
}}
.header__logo {
    background-image: url("../img/Logo.png");
    width: 94px;
    height: 85px;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    @media (max-width: 600px){
        margin: 0 9px;
    }
       
    @media (max-width: 768px) {
        width: 94px;
        height: 85px;
    }
    @media (max-width: 768px) {
        width: 64px;
        height: 55px;
    }

   
   
}
.header__right__content {
    a {
        display: inline-block;
       
    }
    span {
        margin: 0 40px;
    }
    @media (max-width: 600px){
        span {
            
            
        }
        a {
            display: inline-block;
            font-size: 10px;
        }
       
    @media (max-width: 768px) {
        span {
            margin: 0 5px;
            
        }
        font-size: 12px;
    }
    
}}
//header end
// footer 
.footer {
    height: 250px;
    background-color: #f7f7f7;
    font-family: "Lato";
    @media (max-width: 768px) {
        height: 450px;
    }

}
.footer__container {
    max-width: 1101px;
    margin: 0 auto;
    @media (max-width: 768px) {
        width: 90%;
    }
}
.footer__row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10%;
    @media (max-width: 768px) {
        flex-direction: column;
        height: 300px;
        text-align: center;
    }
    
}

.footer__icon__social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 135px;
    img {
        display: inline-block;
        width: 35px;
        height: 35px;
        
    }
    
}
.top-address {
    font-size: 16px;
    font-weight: 700;
    @media (max-width: 768px) {
        line-height: 26px;
    }

    
}
.middle-address {
    font-style: italic;
}
.bottom-address {
    font-size: 14px;
    font-style: italic;
    line-height: 18px;
}

.footer__logo {
    font-family: "Lato";
    font-size: 14px;
    font-style: italic;
    line-height: 17.87px;
    display: flex;
    align-items: center;
    
    img {
        display: inline-block;
        width: 55px;
        height: 36px;
        margin: 0 0 0 9px;
    }

}
// footer end
// underhead start
.underhead {
    height: 469px;
    @media (max-width: 768px) {
        height: 390px;
    }
}
.underhead__wrapper {
    max-width:1179px;
   margin: 0 auto;

   @media (max-width: 768px) {
    max-width: 90%;
}
@media (max-width: 968px){
    max-width: 90%;
}
}
.underhead__logo {
    background-image: url("../img/logo-underhead.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 52px;
    height: 43px;
    margin: 0 auto;
    margin-top: 157px;
    background-size: 100% 100%;
    @media (max-width: 768px) {
        margin-top: 57px;
    }
    
}
.underhead__title {
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 3.6px;
    margin-bottom: 35px;
    margin-top: 35px;
    @media (max-width: 768px) {
        font-size: 18px;
        
    }
}
.underhead__content {
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    line-height: 34px;
    @media (max-width: 768px) {
        font-size: 16px;
        line-height: 24px;
    }
    
    
}
.underhead__underline {
    display: none;

    @media (max-width: 768px) {
        width: 70%;
        background-color: #353738;
        height: 1px;
        display: block;
        margin: 0 auto;
        margin-top: 20px;
       
    }

    
}
// underhead end
// main section 1 start

.main__content__three {
    min-height: 600px;
    display: flex;
    justify-content: space-around;
    background: silver;
    @media (max-width: 768px) {

        flex-direction: column;
    }
}
.main__content__top__left {
    margin-left: 0;
    
    flex: 0 1 67.7%;
    min-height: 600px;
    background-image: url("../img/main-top-right.png");
    background-repeat: no-repeat;
   background-position: 0 0;
   background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media (max-width: 500px) {
        min-height: 300px;
        flex: 0 1 100%;

    }
    @media (max-width: 768px) {
        height: 900px;
        flex: 0 1 100%;

    }

    
}
.main__content__top__left__logo {
    background-image: url("../img/main-top-right-logo.png");
    width: 120px;
    height: 120px;
    background-position: center;
    background-size: 100% 100%;
}
.main__content__top__right {
    flex: 0 1 33.333%;
    height: 600px;
    @media (max-width: 768px) {

        flex: 0 1 100%;
    }
    
}
.main__content__top__right__wrapper {
    background-color: #fff;
    height: 410px;
    position: relative;
    &::after {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border: 0 solid transparent;
        border-left-width: 10px;
        border-right-width: 10px;
        border-top: 10px solid white;
        position: absolute;
        bottom: -10px;
        left: calc(50% -  10px);
        margin: 0 auto;
        z-index: 20;
      }
    @media (max-width: 768px) {
        height: 405px;
        

    }
}
.main__content__top__right__text {
  margin: 0 auto;
  height: 235px;
  padding: 60px 80px;
  @media (max-width: 768px) {
    height: 535px;
    overflow: hidden;
    padding: 20px 30px;
    padding-top: 80px;
    margin-top: 0;
    
    
}

@media (max-width: 968px) {
    max-width: 100%;
    padding: 35px 0;
}
  @media (max-width: 1500px) {
        max-width: 80%;
        padding: 35px 0;
    }

}
.main__content__top__right__logo {
   height: 30px;
   width: 41px;
   margin: 0 auto;
   background-image: url("../img/main-top-left-logo.png");
   background-position: center;
   background-size: 100% 100%;

}
.main__content__top__right__title {
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 31px;
    
}
.main__content__top__right__subtitle {
    font-size: 16px;
    line-height: 30px;
    color: #848789;
    
    margin: 0 auto;
    margin-top: 26px;
    @media (max-width: 768px) {
        font-size: 16px;
        line-height: 18px;
        margin-top: 16px;
       
}
@media (max-width: 968px) {
   font-size: 14px;
   line-height: 24px;
   text-align: center;
}
  @media (max-width: 1500px) {
     
    }
}
.main__content__top__right__bottom {
    background-image: url("../img/right-bottom.png");
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    
    background-size: 100% 100%;
    
}
.main__content__top__right__bottom__line {
    height: 1px;
    width: 11%;
    background-color: #353738;
    margin: 0 auto;
    margin-top: 40px;
    @media (max-width: 768px) {
        width: 70%;
        
    }
    @media (max-width: 828px ){
        margin-top: 30px;
    }

    @media (max-width: 968px) {
       margin-top: 10px;
    }
    @media (max-width: 1046px) {
        margin-top: 20px;
    }

}

// main section 1 end
// main section 2 start
.main__content__three__2 {
    @extend .main__content__three;
    overflow: hidden;
}
.main__content__center__right__2 {
    @extend .main__content__top__right;
    
}
.main__content__center__right__wrapper__2 {
    @extend .main__content__top__right__wrapper;
}
.main__content__center__right__text__2 {
    @extend .main__content__top__right__text;
}
.main__content__center__right__logo__2 {
    @extend .main__content__top__right__logo;
    background-image: url("../img/main-center-right-logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.main__content__center__right__title__2 {
    @extend .main__content__top__right__title;
}
.main__content__center__right__subtitle__2 {
    @extend .main__content__top__right__subtitle;
}
.main__content__center__right__bottom__line__2 {
    @extend .main__content__top__right__bottom__line;
}
.main__content__center__right__bottom__2 {
    @extend .main__content__top__right__bottom;
    background-image: url("../img/left-bottom.png");
    background-size: 100% 100%;
}
.main__content__center__left__2 {
    @extend .main__content__top__left;
    background-image: url("../img/main-center-left.png");
    background-size: 100% 100%;
}
.main__content__center__left__logo__2 {
    @extend .main__content__top__left__logo;
    background-image: url("../img/main-center-left-logo.png");
    background-size: 100% 100%;
}


//bottom 
.main__content__bottom {
    min-height: 600px;
    width: 100%;
    overflow: hidden;
    @media (max-width: 768px) {
        height: 1100px;
        
        
    }
}
.main__content__bottom__row {
    height: 100%;
    display: flex;
    width: 100%;
    @media (max-width: 768px) {
        flex-wrap: wrap;
        
    }
 
}
.main__content__bottom__collumn {
    flex: 0 1 33%;
    height: 600px;
    margin: 0; 
    @media (max-width: 768px) {
        flex: 0 1 100%;
        
    }
}
.mian__content__bottom___collumn__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../img/bottom-left.png");
    background-size: 100% 100%;
    background-position: center;
    height: 600px;
    @media (max-width: 768px) {
        height: 500px;
        
    }
}
.mian__content__bottom___collumn__left__logo {
    background-image: url("../img/bottom-left-logo.png");
    width: 208px;
    height: 67px;
    
}


.mian__content__bottom___collumn__right {
    background-image: url("../img/bottom-right.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: right;
    height: 600px;
    @media (max-width: 769px) {
        display: none;
       
        
    }
}
.bottom__content {
    background-image: url("../img/main-bottom-logo.png");
    width: 23px;
    height: 41px;
    background-size: 100% 100%;
}
.bottom__content__bottom {
    background-image: url("../img/bottom-bottom.png");
}

.right {
    flex: 0 1 34%;
}
.center {
    @media (max-width: 768px) {
       height: 200px;
       padding-top: 10px;
       margin-top: -80px;
        
    }
}
.left {
    height: 500px;
}
// bottom end
// twitter block start
.twitter__block {
    height: 369px;
    width: 65%;
    margin: 0 auto;
    @media (max-width: 500px){
        min-height: 369px;
        width: 100%;
        
    }
    @media (max-width: 768px) {
        height: 369px;
        
     }
   
}
.twitter__block__logo {
    width: 32px;
    height: 27px;
    background-image: url("../img/twitter-logo-block.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
   
    margin: 0 auto;
    margin-top: 104px;
    @media (max-width: 768px) {
        margin-top: 0px;
        
     }
    
}
.main__content__center__left__2 {
    @media (max-width: 768px) {
        display: none;
        
     }
}
.main__content__top__right__text {
    @media (max-width: 768px) {
        padding-top: 100px;
        
     }
     @media (max-width: 500px) {
        padding-top: 70px;
        
     }
}
.twitter__block__title {
    font-family: "Lato";
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    margin: 0 auto;
    letter-spacing: 1.8px;
    margin-top: 37px;
    @media (max-width: 768px) {
       
        font-size: 15px;
     }
}
.twitter__block__time {
    font-weight: 300;
}
.twitter__block__text {
    text-align: center;
    font-size: 24px;
    line-height: 34px;
    font-style: italic;
    
    width: 1036px;
    margin: 0 auto;
    margin-top: 27px;
    @media (max-width: 360px){
        max-width: 90%;
        
    }
    @media (max-width: 768px) {
        width: 80%;
        font-size: 18px;
        margin-top: 17px;
     }
     @media (max-width: 968px) {
        max-width: 90%;
        font-size: 22px;
       

    
}}
.twitter__block__cyrcle {
    width: 51px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 104px;
    @media (max-width: 500px) {
        
       padding-top: 10px;
     }
    @media (max-width: 768px) {
        
        margin-top: 20px;
     }

}
.twitter__block__cyrcle__item {
    width: 11px;
    height: 11px;
    border: 1px solid #c8c8c8;
    border-radius: 50%;
    &:first-child {
        background-color: #a9afb3;
        border: none;
    }
}

// twitter block end
// picture bottom start
.picture__bottom {
    min-height: 534px;
    @media (max-width: 768px) {
        display: none;
        
        
    }
}

.picture__bottom__left__row {
    display: flex;
    @media (max-width: 768px) {
        
       
       
        
    }
}
.picture__bottom__left__right {
    height: 534px;
    flex: 0 1 33%;
    background-image: url("../img/picture__bottom__left__right.png");
    background-size: 100% 100%;
    background-position: center;
    @media (max-width: 768px) {
       
        
        
    }

}
.picture__bottom__left__left {
    height: 534px;
    flex: 0 1 67%;
    @media (max-width: 768px) {
       
        
        
    }
}

.picture__bottom__left__left__top {
    height: 267px;
    display: flex;
    @media (max-width: 768px) {
        
        
        
    }

}
.picture__bottom__left__left__top__left {
    flex: 0 1 50%;
    height: 267px;
    background-image: url("../img/picture__bottom__left__left__top__left.png");
    background-size: 100% 100%;
    background-position: center;
    @media (max-width: 768px) {
       
        
        
    }

}
.picture__bottom__left__left__top__right {
    flex: 0 1 50%;
    height: 267px;
    background-image: url("../img/picture__bottom__left__left__top__right.png");
    background-size: 100% 100%;
    background-position: center;
}
.picture__bottom__left__left__bottom {
   background-image: url("../img/picture__bottom__left__left__bottom.png");
   background-size: 100% 100%;
   background-position: center;
   height: 267px;
   @media (max-width: 768px) {
    
    
    
}
}
 // right 

.picture__bottom__right__row {
    display: flex;

}
.picture__bottom__right__left {
    height: 534px;
    flex: 0 1 33%;
    background-image: url("../img/picture__bottom__right__left.png");
    background-size: 100% 100%;
    background-position: center;
    @media (max-width: 768px) {
       
        
        
    }
}
.picture__bottom__right__right {
    flex: 0 1 67%;
    height: 534px;
    @media (max-width: 768px) {
       
        
        
    }
}
.picture__bottom__right__top {
    height: 267px;
    background-image: url("../img/picture__bottom__right__top.png");
    background-size: 100% 100%;
    background-position: center;
    position: relative;
    @media (max-width: 768px) {
        
        
        
    }
}
.picture__bottom__right__right__bottom {
    display: flex;

}
.picture__bottom__right__right__bottom__left {
    flex: 0 1 50%;
    height: 267px;
    background-image: url("../img/picture__bottom__right__right__bottom__left.png");
    background-size: 100% 100%;
    background-position: center;
    @media (max-width: 768px) {
       
        
        
    }

}
.picture__bottom__right__right__bottom__right {
    flex: 0 1 50%;
    height: 267px;
    background-image: url("../img/picture__bottom__right__right__bottom__right.png");
    background-size: 100% 100%;
    background-position: center;
    @media (max-width: 768px) {
       
        
        
    }

}
.picture__bottom__right__top__logo {
    width: 51px;
    height: 30px;
    background-image: url("../img/picture__bottom__right__top-logo.png");
    background-size: 100% 100%;
    background-position: center;
    margin: 0 auto;
    
}
.picture__bottom__right__top__text {
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
    letter-spacing: 2.8px;
    padding-top: 14px;
}
.picture__bottom__right__top__wrapper {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50%;
    transform: translate(0, -50%);
}
.picture__bottom__left-item {
    margin: 0 -1px;
}
.picture__bottom__right-item {
    
    margin: 0 -1px;
}
.picture__bottom__right {
    flex: 0 1 50%;
    height: 534px;

}
.picture__bottom__row {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    margin: 0 1px;
    @media (max-width: 768px) {
        
    }
}
.picture__bottom__left {
    flex: 0 1 50%;

   
}


// picture bottom end
// discover block start
.discover__block {
    height: 200px;
    background-color: #282f35;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
 .discover__block__button {
    
    
 
    margin: 0 auto;
    
    border: 1px solid rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 2.8px;
    color: white;
    width: 300px;
    padding: 20px 50px;

    
    

}
// email form start
.email__form {
    height: 469px;
}
.email__form__container {
    max-width: 534px;
    margin: 0 auto;
    @media (max-width: 768px) {
        width: 80%;
        
    }
}
.email__form__logo {

    width: 94px;
    height: 85px;
    margin: 0 auto;
    background-image: url("../img/Logo.png");
    background-size: 100% 100%;
    background-position: center;
    
}
.email__form__title {
    text-align: center;
    color: #848789;
    font-size: 24px;
    font-style: italic;
    line-height: 34px;
    margin: 0 auto;
    padding-top: 39px;
}
.email__form__form {
    padding-top: 35px;
    input {
        color: #929292;
       
        
        font-size: 20px;
        font-style: italic;
        font-family: "Lato";
        line-height: 24px;
        text-align: center;
        padding: 25px 130px 25px 25px;
        opacity: 0.5;

    }
    button {
        font-size: 24px;
        font-weight: 300;
        text-transform: uppercase;
        text-align: center;
        padding: 25px 40px;
        padding-top: 22px;
        background-color: #64c29e;
        color: white;
        @media (max-width: 768px) {
            display: block;
            width: 100%;
            margin-top: 22px;
        }

    }
}
.email__form__logo__wrapper {
    margin: 0 auto;
    padding: 104px 0 0 0;
    @media (max-width: 768px) {
        padding: 50px 0 0 0;
    }
}
.input__wrapper {
    display: inline-block;
    border: 1px solid #d3d7d9;
    @media (max-width: 768px) {
        display: block;
        
    }
    

}
// email form end