@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
a {
  color: #4d4959;
}

.wrapper {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 1 auto;
}

.header {
  max-height: 800px;
  color: #4d4959;
  text-transform: uppercase;
  letter-spacing: 2.6px;
  font-size: 13px;
  font-weight: 700;
  font-family: "Lato";
  height: 800px;
  width: 100%;
  background: url("../img/Layer_7.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}
@media (max-width: 992px) {
  .header {
    height: 400px;
    margin: 0;
  }
}

.header__contrainer {
  height: 85px;
  max-width: 38.6%;
  margin: 0 auto;
  padding: 35px 0;
}

.header__row {
  color: #4d4959;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 -20px;
}

.header__left__content a {
  display: inline-block;
}
.header__left__content span {
  margin: 0 40px;
}

.header__logo {
  background-image: url("../img/Logo.png");
  width: 94px;
  height: 85px;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.header__right__content a {
  display: inline-block;
}
.header__right__content span {
  margin: 0 40px;
}

.footer {
  height: 250px;
  background-color: #f7f7f7;
  font-family: "Lato";
}

.footer__container {
  max-width: 1101px;
  margin: 0 auto;
}

.footer__row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10%;
}

.footer__icon__social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 135px;
}
.footer__icon__social img {
  display: inline-block;
  width: 35px;
  height: 35px;
}

.top-address {
  font-size: 16px;
  font-weight: 700;
}

.middle-address {
  font-style: italic;
}

.bottom-address {
  font-size: 14px;
  font-style: italic;
  line-height: 18px;
}

.footer__logo {
  font-family: "Lato";
  font-size: 14px;
  font-style: italic;
  line-height: 17.87px;
  display: flex;
  align-items: center;
}
.footer__logo img {
  display: inline-block;
  width: 55px;
  height: 36px;
  margin: 0 0 0 9px;
}/*# sourceMappingURL=style.css.map */